<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="google-signin-client_id" content="637235760837-k98es0njvd4kkb9tn533gnp1t71jp1l6.apps.googleusercontent.com"> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" ></script> -->

    <style>
      .product-card {
        max-width: 300px;
        max-height: 400px;
        margin: auto;
      }
  
      .product-card .block-4-image img {
        width: 150%;
        height: 250px; /* Set a fixed height */
        object-fit: cover;
      }
  
      .product-card .block-4-text {
        padding: 10px;
      }
  
      .product-card .block-4-text h3 a {
        font-size: 1.1rem;
        display: block;
        margin-bottom: 10px;
      }
  
      .product-card .block-4-text p {
        font-size: 1.2rem;
      }
  </style>
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container"  >
          <div class="row align-items-center" >

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>
            
            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/index" class="js-logo-clone">Shoppers</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  
                  <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    
                    <a href="/cartpage" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span id="cart-count" class="count">0</span>
                    </a>
                    
                  </li> 
                  <li>
                    <ul class="dropdown" >
                    

                    </ul>
                  
                </li>
               
                  
                
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>

          </div>
        </div>
      </div> 
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="">
              <a href="/index">Home</a>
              <!-- <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
                <li class="has-children">
                  <a href="#">Sub Menu</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                  </ul>
                </li>
              </ul> -->
            </li>
            <li class="">
              <a href="/about">About</a>
              <!-- <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul> -->
            </li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="#">Catalogue</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (!isLoggedIn) { %>
              <li><button class="btn btn-primary"><a href="/adminloginpage" style="color: aliceblue;">Login</a></button></li>
              <li><button class="btn btn-primary"><a href="/adminsinguppage" style="color: aliceblue;">Sign up</a></button></li>
            <% } %>
    <button id="logout-button" class="btn btn-primary">logout</button>
          </ul>
        </div>
      </nav>
    </header>