<%- include('header') -%>
    <div class="site-blocks-cover" style="background-image: url(images/frontpage.webp);" data-aos="fade">
      <div class="container">
        <div class="row align-items-end align-items-md-center justify-content-start">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2 text-primary" >Finding Your Perfect Watch</h1>
            <div class="intro-text text-center text-md-left">
              <p class="mb-4 text-white" >Discover the perfect blend of elegance and precision with our collection of watches. Crafted with meticulous attention to detail, our timepieces offer not only a reliable way to keep time but also a stylish accessory that complements any outfit </p>
              <p>
                <a href="/shop" class="btn btn-sm btn-primary">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Enjoy complimentary shipping on all orders, ensuring your purchases arrive at your doorstep without any additional cost. No minimum spend required</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Return any item hassle-free within 30 days at no extra cost. Your satisfaction is our priority, and returns are on us.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p> Our dedicated support team is available 24/7 to assist with any queries or issues. We're here to ensure a seamless shopping experience for you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img src="images/womenswatch.jpeg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Women</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img src="images/children.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Children</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img src="images/menswatch.webp" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Men</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center" >
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row " id="productGrid">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel"  >
             
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Big Sale!</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
            <a href="#"><img src="images/watch1.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            <h2><a href="#">50% less in all items</a></h2>
            <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
            <p><a href="/shop" class="btn btn-primary btn-sm">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', async function () {
        try {
          const response = await fetch('/getproducts');
          if (!response.ok) {
            throw new Error('Failed to fetch products.');
          }
          const products = await response.json();
          const productGrid = document.getElementById('productGrid');
    
          // Function to convert local file path to relative URL
          function convertLocalPathToRelativeUrl(localPath) {
            return localPath;
          }
    
          // Limit the number of products to display
          const productsToDisplay = products.slice(0, 3); // Display only the first 3 products
    
          productsToDisplay.forEach(product => {
            const productImage = product.productImage.length > 0 ? convertLocalPathToRelativeUrl(product.productImage[0]) : 'default-image-path.jpg';
            const productCard = `
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="product-card block-4 text-center border">
          <figure class="block-4-image">
            <a href="/getproduct/${product._id}">
              <img src="${product.productImage}" alt="${product.productName}" class="img-fluid">
            </a>
          </figure>
          <div class="block-4-text">
            <h3>
              <a href="/getproduct/${product._id}">
                ${product.brandName}<br>${product.productName}
              </a>
            </h3>
            <p class="text-primary font-weight-bold">$${product.price}</p>
          </div>
        </div>
      </div>
    `;
            productGrid.innerHTML += productCard;
          });
        } catch (error) {
          console.error('Error fetching products:', error);
          // Handle error fetching products
        }
      });
    </script>
    
    <%- include('footer') -%>